.avatar__chat{
    width: 56;
    height: 56px;
}

.chat__box{
    display: flex;
    gap: 16px;
    
}


.name__chat{
    display: flex;
    justify-content: space-between;
}


.time__messeg {
    font-size: 10px;
    position: absolute;
    color: rgba(0, 0, 0, 0.267);
    font-weight: 500;
    bottom: 7px;
    right: 12px;
}


.chat__profile{
    display: flex;
    width: 492px;
    height: 63px;
    gap: 16px;
    cursor: pointer;
}

.chat__profile .wrapper__content {
    width: 100%;
    padding-right: 30px;
}

.messeg__chat{
    font-size: 14px;
    color: rgba(108, 108, 108, 1);
    font-weight: 400;
}

.name__people{
    font-size: 16px;
    font-weight: 600px;
    color: rgba(71, 71, 71, 1);
}

.time__offline{
    font-size: 14px;
    font-weight: 400px;
    color: rgba(108, 108, 108, 1);
}

.chat__list-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 528px;
    height: 785px;
    background-color: rgba(230, 230, 230, 1);
    border-radius: 16px;
    padding: 25px 20px 25px 16px;
    overflow-y:scroll;
    margin: 16px 16px 40px;
}

.hr__chat{
    width: 424px;
    height: 1px;
    background-color: rgba(210, 210, 210, 1);
}

.chat__list-box::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(230, 230, 230, 1);
}
  
.chat__list-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(146, 146, 146, 1);
}

.chat__messeg-box::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(230, 230, 230, 1);
}
  
.chat__messeg-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(146, 146, 146, 1);
}

.chat__messeg-box{
    height: 100%;
    box-sizing: border-box;
}


.avatar__chat-box{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:  16px 0;
}

.chat__messeg{
    display: flex;
    width: 800px;
    height: 825px;
    flex-direction: column;
    align-items: center;
}

.chat__messeg-box{
    display: flex;
    gap: 16px;
    padding: 16px;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}

.unread-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-top: 4px;
}

.messeg__friends,
.you__messeg{
    display: flex;
    gap: 8px;
    height: fit-content;
    width: fit-content;
    padding: 8px;
    border-radius: 16px;
    background-color: rgba(230, 230, 230, 1);
    align-items: center;
    justify-content: start;
}

.messeg__friends {
    position: relative;
    min-width: 160px;
    min-height: 55px;
}

.you__messeg{
    min-width: 110px;
    padding-bottom: 30px;
    background-color: rgba(208, 208, 212, 1);
}



.content__messeg-fiends,
.you__messeg-content{
    font-size: 16px;
    height: fit-content;
}

.messeg__friends-wrapper,
.messeg__you-wrapper{
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: start;
}

.messeg__you-wrapper{
    justify-content: end;
    align-items: center;
}


.button__input{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(102, 107, 207, 1); */
    border-radius: 12px;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.button__input button {
    background-color: rgba(102, 107, 207, 1); 
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    padding: 15px 7px;
    cursor: pointer;
}

.input__messeg-box{
    display: flex;
    gap: 8px;
    width: 700px;
    margin-bottom: 16px;
}
.input__messeg{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    background-color: rgba(232, 232, 232, 1);
    height: 56px;
    width: 500px;
    border-radius: 16px;
    /* padding-left: 16px; */
}

.input__messeg-chat{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    width: 100%;
    padding-left: 20px;
}

.attach__button{
    cursor: pointer;
}

.button__back{
    position: absolute;
    border: 0;
    background-color: transparent;
    left: 20px;
    cursor: pointer;
    display: none;
    z-index: 6;
}

.display-flex{
    display: flex;
}

.look{
    color: rgba(108, 108, 108, 1);
}

.no-look{
    color: rgba(108, 108, 108, 1);
}


@media(max-width : 1717px){
    .chat__messeg{
        width: 600px;
    }
    .input__messeg-box{
        width: 500px;
    }
}

@media(max-width : 1421px){
    .chat__list-box{
        width: 400px;
    }
    .chat__profile {
        width: 300px;
        height: fit-content;
    }
    .hr__chat{
        width: 200px;
    }
}

@media(max-width : 1510px){
    .chat__messeg{
        width: 500px;

    }
    .input__messeg-box{
        width: 400px;
    }

}

@media(max-width : 1281px){
    .chat__messeg{
        /* position: absolute; */
        position: relative;
        display: none;
    }

    .look{
        display: flex;
    }

    .no-look{
        display: none;
    }
    .button__back{
        display: block;
    }
    .chat__list-box,
    .chat__messeg{
        width: 700px;
    }
    .chat__messeg{
        padding: 10px;
        margin: 10px;
        border: 0;
    }
    .chat__profile{
        width: 650px;
    }
    .hr__chat {
        width: 600px;
        margin-bottom: 10px;
    }
    .input__messeg-box{
        width: 390px;
        padding-top: 10px;
    }
}

@media(max-width : 1063px){
    .chat__list-box,
    .chat__messeg{
        width: 600px;
    }

    .chat__profile{
        width: 550px;
    }
    .hr__chat {
        width: 500px;
    }
    .input__messeg-box{
        width: 100%;
        align-items: center;
    }
    /* .button__input{
        height: 36px;
    } */
    /* .input__button-icons{
        width: 14px;
        height: 14px;
    } */
}
@media(max-width : 965px){
    .chat__list-box,
    .chat__messeg{
        width: 500px;
    }
    .chat__profile{
        width: 450px;
    }
    .hr__chat {
        width: 400px;
    }
    
}


@media(max-width : 965px){
    .chat__list-box,
    .chat__messeg{
        width: 400px;
    }
    .chat__profile{
        width: 350px;
    }
    .hr__chat {
        width: 300px;
    }
}

@media(max-width : 775px){
    .chat__list-box,
    .chat__messeg{
    width: 321px;
}
.chat__profile{
    width: 289px;
}
.hr__chat {
    width: 244px;
}
}

@media(max-width : 553px) {
    .chat__list-box, .chat__messeg {
        width: 87%;
    }


    .chat__messeg {
        height: calc(100vh - 130px);
    }
    
    .avatar__chat-box {
        margin-top: 0px;
    }

    

}





