.header__box{
    display: flex;
    justify-content: space-between;
    padding: 24px 56px;
}

.serch__block{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}


.logo{
    width: 84px;
    height: 36px;
}

.logo img {
    max-width: 123px;
    width: auto;
    height: auto;
    object-fit: contain;
}


.input__serh{
    border: 0;
    background-color: rgba(240, 240, 250, 1);
}

input:focus {
        outline-width: 0;
        place-content: none;
}
input:focus::placeholder {
    color: transparent;
  }

.button__serh{
    border: 0;
    cursor: pointer;
}

.serh__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 240, 250, 1);
    border-radius: 90px;
    width: 221px;
    padding:  10px 10px;
}


.img__serh-button{
    color: transparent;
    width: 16px;
    height: 16px;
}

.arnon{
    size: 16px;
}

.blocl__arhon-buttons{
    display: flex;
    gap: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.button-profil{
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.button-profil .fas {
    font-size: 22px;
    color: black;
}

.box__button-profil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header-2{
    display: none;
    justify-content: center;
    align-items: center;
}

.button__line{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.serh-button{
    display: none;
}
.button__line{
    display: none;
}

.search_not_found {
    margin-top: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.233);
}



.button-bell {
    position: relative;
    
}





.serh__wrapper {
    position: relative;
  }

  .search_items {
    position: absolute;
    width: 100%;
    min-height: 200px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    top: 50px;
    z-index: 4;
    left: 0;
    display: none;
  }

  .search_items.active {
    display: block;
  }

  .search_items a.item {

    width: 100%;
    height: 70px;
    display: block;
    display: flex;
  }

  .search_items a.item .ava {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 8px;
  }

  .search_items a.item .ava img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
  }


  .search_items a.item .name_subs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .search_items a.item .name_subs p {
    font-size: 16px;
    color: black;
  }

  .search_items a.item .name_subs span {
    font-size: 13px;
    color: black;
    opacity: .5;
  }

  .search_items a.item .ava .circle {
    width: 50px;
    height: 50px;
    /* border: 1px solid red; */
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search_items a.item .ava .circle p {
    color: white;
  }




  .eng_swich {
    cursor: pointer;
}

.eng_swich.mod {
    position: absolute;
    right: 100px;
}


.eng_swich .sw {
    width: 86px;
    height: 32px;
    border-radius: 50px;
    background-color: #F0F0FA;
    position: relative;
}

.eng_swich .sw .circle {
    left: 0;
    top: 0;
    position: absolute;
    width: 43px;
    height: 32px;
    border-radius: 50px;
    background-color: #666BCF;
    transition: .1s;
}

.eng_swich .sw .circle.active {
    left: 43px;
}

.eng_swich .sw .words {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.eng_swich .sw .words span {
    font-size: 14px;
    font-weight: 600;
    color: #666BCF;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.eng_swich .sw .words span.active {
    color: white;
}


.burger_wrap {
    position: relative;
  }


  
  .burger_menu {
    display: none;
    max-height: 0; /* Начальное состояние, скрыто */
    opacity: 0; /* Прозрачность 0 */
    overflow: hidden; /* Скрываем содержимое */
    transition: max-height 0.15s ease, opacity 0.15s ease; 
    box-sizing: border-box;
    top: 30px;
    left: 0;
    width: 240px;
    min-height: 100px;
    background-color: white;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    padding: 25px;
    z-index: 2;
  }

  .burger_menu.active {
    display: block;
    max-height: 300px; /* Высота для открытого меню */
    opacity: 1; /* Прозрачность 1 */
  }

  .burger_menu ul {
    list-style-type: none;
  }

  .burger_menu ul li {
    margin-bottom: 10px;
  }

    
  .burger {
      
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 27px;
      height: 18px;
        font-size: 22px;
        color: rgb(223, 223, 223);
      margin-left: 15px;
      transition: .2s;
      cursor: pointer;
  }

  /* .burger .line {
      width: 100%;
      height: 2px;
      background: rgba(0, 0, 0, 0.568);
      border-radius: 4px;
  } */

  /* .burger:hover {
      padding: 2px 0px;
  } */

@media(max-width : 900px) {
  .header__box {
    padding: 24px 24px;
  }
}

@media(max-width : 830px) {
    .box__button-profil {
        gap: 6px;
    }

    .burger {
        margin-left: 10px;
    }

    .serh__wrapper {
        width: 140px;
    }

    .input__serh {
        width: 100px;
    }

    .logo {
        width: 63px;
        height: 27px;
    }

    .serch__block {
        gap: 6px;
    }
}

@media(max-width : 650px) {
    .header__box {
        padding: 24px 8px;
    }
}



@media(max-width : 875px){
    .blocl__arhon-buttons{
        display: none;
    }
}




@media(max-width : 553px) {
    .categories__box {
        background-color: white;
        position: absolute!important;
        left: -322px;
    }

    .serh__wrapper {
        width: 175px;
    }

    .serh__wrapper input {
        width: 140px;
    }
    
    .categories__box.open {
        left: 0;
    }

    .eng_swich {
        position: absolute;
        top: 24px;
        right: 10px;
    }

    .burger_wrap {
        position: absolute;
        left: 0;
        top: 25px;
    }


    .header-2{
        display: flex;
        padding-bottom: 10px;
    }
    .logo{
        display: none;
    }
    .serh__wrapper{
        display: none;
    }
    .input__serh{
        display: none;
    }
    .serh-button{
        display: flex;
    }
    .button__line{
        display: flex;
    }
    .header-1{
        padding: 10px;
    }
}
