.categories__box{
    width: 312px;
    height:  100%;
    padding: 0 10px 0 40px;
    z-index: 1;
}

.wrapper__categories-1,
.wrapper__categories-2,
.wrapper__categories-3{
    display: flex;
    gap: 8px;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    color:rgba(108, 108, 108, 1);
}

.subscriptions__box{
    display: flex;
    flex-direction: column;
}

.subscriptions__box-content{
    margin-bottom: 16px;
}
.title__box{
    display: flex;
    gap :116px;
}

.button__more{
    width: 24px;
    border: 0;
    background-color: transparent;
}

.categories{
    margin-bottom: 37px;
}

.boll-offline,
.boll-online{
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: rgba(108, 108, 108, 1);
}
.boll-online{
    background-color: rgba(128, 220, 94, 1);
}

.subscriptions__profil{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 230px;
    margin-bottom: 10px;
}

.block__activity{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block__activity .status {
    opacity: .3;
}

.Avatar{
    margin-right: 10px;
    
}

.profil__name{
    margin-right: 28px;
}

.boll-offline,
.boll-online{
    margin-right: 6px;
}

.title__box{
    margin-bottom: 16px;
}

.priw__more{
    font-size: 14px;
    font-weight: 400;
    color: rgba(108, 108, 108, 1);
    margin-bottom: 85px;
    cursor: pointer;
}

.open__line-block{
    background-image: url(../../../img/streaming/cyberpunk-boy-illustration1.png);
    width: 230px;
    height: 282px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    position: fixed;
    bottom: 20px;
}

.starting__button{
    background-color: rgba(102, 107, 207, 1);
    border-radius: 90px;
    border: 0;
    margin-bottom: 16px;
    padding: 9px 17px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.starting__buttone{
    background-color: rgba(102, 107, 207, 1);
    border-radius: 90px;
    border: 0;
    width: 107px;
    margin-bottom: 16px;
    height: 34px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    margin-top: 10px;
}

.text__line-block{
    text-align: center;
    color: rgba(244, 244, 244, 1);
    size: 16px;
    font-weight: 600;
}


.main__content-box{
    display: flex;
    width: 100%;
}

.main__content{
    background-color:rgba(242, 242, 242, 1);
    width: 100%;
}

.profil__content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.avatar{
    width: 156px;
    height: 156px;
    padding-left: 16px;
}

.profil{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: 16px;
    height: 188px;
    background-color: rgba(255, 255, 255, 1);
    margin: 16px 56px 0 16px;
}

.subscribe__button {
    position: absolute;
    right: 72px;
    top: 135px;
}

.subscribe__button-2 {
    display: none;
}

@media(max-width : 813px){
    /* .subscribe__button{
        display: none;
    } */

    .subscribe__button {
        position: relative;
        right: auto;
        top: auto;
    }

    .starting__button {
        margin-bottom: 0;
    }

    .profil {
        padding: 10px 0px;
    }

    .subscribe__button-2{
        display: block;
    }
    .profil {
        height: fit-content;
    }
    
}

@media(max-width : 813px){




    .categories__box {
        position: relative;
        /* margin-left: -332px; */
        /* width: fit-content;
        padding: 40px 0 40px 56px; */
        padding: 0 10px;
    }
    .block__activity{
        display: none;
    }
    .profil{
        margin: 16px 10px 0 16px;
    }
    .open__line-block{
        width: 228px;
        height: 182px;
    }
}
@media(max-width : 724px) {
    .categories__box {
        padding: 40px 0 40px 10px;
        /* width: 165px; */
        
    }
    .open__line-block{
        display: none;
    }
}
@media(max-width : 628px){
    .categories__box {
        padding: 20px 0 20px 10px;
    }
    .title__box{
        width: 100px;
    }
    .title__box{
        width: 100px;
        gap: 50px;
    }
    .categories{
        width: 100px;
    }
    .wrapper__categories-3,
    .wrapper__categories-2,
    .wrapper__categories-1{
        width: 50px;
    }
}


@media(max-width : 563px){
    /* .profil__name {
        display: none;
    } */
    /* .title__box{
        display: none;
    } */
    /* .subscriptions__profil {
        width: fit-content;
    } */
}

@media(max-width : 520px){
    /* .categories__box {
        width: 100px;
    } */
    .priw__more{
        display: none;
    }
}
@media(max-width : 498px){
    /* .categories__box {
        width: 55px;
    } */
}

