.stream__box-content{
    padding: 12px 15px;
    border-radius: 6px;
    background-color: rgba(242, 242, 242, 1);
}

.input__messeng {
    box-sizing: border-box;
}
.avatar__stream{
    width: 50px;
    height: 50px;
    margin: 0 16px ;
}

.stream__box-content{
    display: flex;
}

.main__content-box{
    display: flex;
    width: 100%;
}

.stream__box{
    margin-top: 20px;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color:rgba(242, 242, 242, 1) ; */
    padding: 0 20px;
    box-sizing: border-box;
}
.main__content{
    display: flex;
    background-color:rgba(242, 242, 242, 1);
    width: 100%;
    min-height: 100vh;
}

.stream__content-name{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stream__content{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 18px;
}

.content__online{
    display: flex;
}

.time{
    margin-right: 14px;
    font-size: 14px;
}

.icon__people{
    width: 19px;
    height: 19px;
}

.content__subscrube{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.booll__gray{
    width: 4px;
    height: 4px;
    margin: 0 15px;
    background-color: rgba(195, 195, 195, 1);
}

.name__profile{
    width: auto;
    height: 17px;
    color: black;
    text-transform: uppercase;
    font-size: 17px;
}

.subscribe__text{
    width: 97px;
    height: 17px;
    color: rgba(102, 107, 207, 1);
    font-size: 14px;
}

.time{
    width: fit-content;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(110, 110, 110, 1);
}

.online__pepole,
.online__pepole-count{
    width: fit-content;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(110, 110, 110, 1);
    margin-right: 4px;
}

.strean__description{
    font-size: 16px;
    font-weight: 600;
    color: rgba(38, 38, 38, 1);
}

.stream__img{
    margin-bottom: 16px;
    max-width: 1104px;
    height: 673px;
    background-color: black;
}




.chat__box{
    max-height: 780px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    min-width: 400px;
    background-color: rgba(242, 242, 242, 1);
    border: 1px solid rgb(173 173 173);
    border-radius: 20px;
    margin-right: 20px;
}

.hr__chat{
    width: 100%;
    height: 1px;
    background-color: rgba(179, 179, 179, 1);
}

.chat__title{
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    color: rgba(108, 108, 108, 1);
    font-weight: 600;
    margin-bottom: 16px;
}

.input__messeng-box{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 5px;
    /* background-color: rgba(255, 255, 255, 1); */





}







.unsubscribe-btn {
    color: rgb(141, 0, 0); 
    cursor: pointer;
}



.subscribe-btn {
    cursor: pointer;
}



.video-js.vjs-default-skin {
    border-radius: 20px;
}


.stream-paused {
    position: relative;
}

.stream-paused .thumbnail-placeholder {
    background-color: black;
     display: flex; 
     justify-content: center;
      align-items: center;
       height: 450px;
       overflow: hidden;
       margin-bottom: 20px;
}


.stream-paused > p {
    color: white;
    position: absolute;
    top: 40px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Добавляем темную тень */
    letter-spacing: 2px;
    left: 30px;
}




.input__messeng{
    width: 100%;
    height: 120px;
    background-color: transparent;
    border: 0;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}


.messeg{
    display: flex;
    gap: 12px;
    height: fit-content;
    width: 100%;
   margin-bottom: 12px;
}

.messeg-box{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
    overflow-y: scroll;
    padding-top: 20px;
}

.messeg__name{
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}

.messeg__content{
    font-size: 14px;
    font-weight: 400;
    max-width: 137px;
}

.color__green{
    color: rgba(128, 220, 94, 1);
}

.wrapper__masseg{
    display: flex;
    flex-direction: column;
    width: 100%;
}



.color__blue{
    color: rgba(132, 189, 255, 1);
}

.stream__box-content {
    background-color: #646ccb17;
    margin-top: 8px;
    position: relative;
    box-sizing: border-box;
}

.stream__additional-description {
    margin-top: 10px;
}

.wrapper__online {
    box-sizing: border-box;
    padding: 12px 14px;
    right: 128px;
    top: 18px;
    position: absolute;
    display: flex;
    background-color: rgb(0 0 0 / 3%);
    border-radius: 50px;
    align-items: center;

}

.wrapper__online .fas {
    color: rgba(102, 107, 207, 1);
    margin-right: 10px;
}

.online__pepole-count {
    height: auto;
    width: auto;
    display: flex;
}




.chat__title-box {
    width: 100%;
    background-color: #0000000f;
    border-radius: 20px 20px 0 0 ;
}





.uploaded-thumbnail {
    margin-top: 30px;
}

.uploaded-thumbnail img {
    margin-top: 20px;
    max-width: 300px;
}






.stream-thumbnail {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* Дополнительные стили */
.upload-thumbnail {
    margin-top: 30px;
    margin-bottom: 30px;
}

.upload-thumbnail input[type="file"] {
    display: none;
}

.upload-thumbnail label {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}







.player-container {
    margin: 20px;
    max-width: 800px;
}
.controls {
    margin: 10px 0;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 4px;
}
.mode-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}
.status {
    /* margin-top: 10px; */
    font-size: 14px;
    color: #666;
}
.error {
    color: #ff0000;
}
#videoPlayer {
    width: 100%;
    background: #000;
}

/* Моргающий красный кружок */
.stream-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%; /* Делает элемент круглым */
    background-color: rgb(202, 0, 0); /* Красный цвет */
    animation: blink 1.5s infinite; /* Анимация моргания */
}

/* Анимация моргания */
@keyframes blink {
    0%, 100% {
        opacity: 1; /* Полностью видимый */
    }
    50% {
        opacity: 0; /* Прозрачный */
    }
}






.stream-paused-message {
    background-color: #646dcb23;
    color: #646dcbe8; 
    padding: 18px; 
    margin-top: 10px; 
    border: 1px solid #646dcb7c; 
    margin-bottom: 20px; 
    align-items: center;
    display: none;
}

.stream-paused-message.active {
    display: flex;
}


.stream-active-message {
    display: none;
    background-color: #d1c4e9;
    color: #4a148c;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #b39ddb;
    margin-bottom: 20px;
    align-items: center;
}

.stream-active-message.active {
    display: flex;
}




.pause_stream {
    display: none;
}

.start_stream {
    display: none;
}

.pause_stream.active {
    display: block;
}

.start_stream.active {
    display: block;
}








#cameraSelect {
    box-sizing: border-box;
    width: 100%;
    border-radius: 16px;
    height: 56px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: transparent;
    margin-top: 8px;
    padding: 0 16px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    outline: none;
    color: #000;
}

.stream_choice {
    box-sizing: border-box;
    background-color: #DEE0EC;
    border-radius: 8px 8px 0px 0px ;
    width: 100%;
    padding: 17px 17px;
}

.stream_choice button {
    background-color: transparent;
    border-radius: 12px;
    padding: 13px 18px;
    font-weight: 500;
    font-size: 15px;
    min-width: 48%;
    border: none;
    color: rgba(0, 0, 0, 0.651);
    cursor: pointer;
    transition: .15s;
}

.stream_choice button:hover {
    background-color: #c5cbe6b0;
}

.stream_choice button.active {
    color: white;
    background-color: #646CCB;
}




.web_tab {
    display: none;
    border-left: 3px solid #DDE0EC;
    border-right: 3px solid #DDE0EC;
    border-bottom: 3px solid #DDE0EC;
    border-radius: 0px 0px 20px 20px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
}

.web_tab p {
    font-size: 14px;
    margin-bottom: 8px;
}

.web_tab.active {
    display: block;

}

.obs_tab {
    display: none;
    border-left: 3px solid #DDE0EC;
    border-right: 3px solid #DDE0EC;
    border-bottom: 3px solid #DDE0EC;
    border-radius: 0px 0px 20px 20px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
}

.obs_tab p {
    font-size: 14px;
    margin-bottom: 8px;
}

.obs_tab span {
    color: #646CCB;
    display: block;
    margin-bottom: 10px;
}

.obs_tab a {
    color: #646CCB;
    text-decoration: underline;
    margin-bottom: 10px;
    display: inline-block;
}

.obs_tab.active {
    display: block;
}





    .connection-status {
position: fixed;
top: 10px;
left: 50%;
transform: translateX(-50%);
background-color: rgba(0, 0, 0, 0.7);
color: #fff;
padding: 8px 16px;
border-radius: 4px;
display: none; /* Скрыт по умолчанию */
z-index: 1000;
}
.connection-status.show {
display: block;
}


.stream__description {
    text-transform: uppercase;
    margin-top: 15px;
}


.stream_controls {
    margin-top: 30px;
    width: 100%;
}
.stream_controls button {
    margin-bottom: 10px;
}



/* .video-js {
    width: 100%;
    height: 60%;
} */




@media(max-width : 1704px){
    .stream__img{
        width: 900px;
        height: 519px;
    }

}

@media(max-width : 1520px){
    .stream__img{
        width: 700px;
        height: 319px;
    }
    /* .chat__box{
        height: 500px;
    } */
}

.hide_chat_btn {
    display: none;
    transform: rotate(90deg);
}

@media(max-width : 1294px){
    .main__content{
        flex-direction: column;
    }
    .stream__box{
        height: fit-content;
    }
    .stream__box-content{
        width: 100%;

    }




    video#preview {
        height: 30%;
        padding: 5px!important;
    }

    .stream-active-message p {
        font-size: 13px;
    }

    .chat__box {
        position: fixed;
        right: 0;
        bottom: 0;
        background-color: rgb(242 242 242 / 71%);
        min-width: 300px;
        transition: .2s;
    }

    .chat__box.hide {
        bottom: -370px;
    }

    .chat__box .messeg-box {
        height: 300px;
    }

    .chat__box .input__messeng {
        height: 80px;
    }

    .chat__box .starting__buttone {
        margin: 0;
    }

    .chat__title {
        margin-top: 7px;
        margin-bottom: 7px;
        font-size: 13px;
    }

    .chat__box .hide_chat_btn {
        position: absolute;
        display: block;
        top: -45px;
        left: 0;
       
    }

    .chat__box .hide_chat_btn {
        background-color: #000000b0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chat__box .hide_chat_btn .fas {
        font-size: 20px;
        color: white;
    }







}

@media(max-width : 995px){
        .stream__img{
            width: 621px;
            height: 287px;
        }

    .stream__box-content{
        width: 100%;
    }
}

@media(max-width : 902px){
    .stream__img{
        width: 100%;
    }

    .stream__box-content{
    width: 100%;
    /* height: fit-content; */
    }
    /* .time{

        margin: 5px;
    } */




    .starting__buttone {
        padding: 5px 10px;
        position: absolute;
        bottom: 15px;
        right: 20px;
    }

    .input__messeng-box {
        position: relative;
    }

    

    .online__pepole{
        display: none;
    }
    .content__online{
        flex-direction: column;
        height: fit-content;
        gap: 20px;
    }
    .content__subscrube{
        flex-direction: column;
        gap: 5px;
    }

    .stream__content-name{
        gap: 20px;
    }
    .main__content-box{
        height: fit-content;
    }

    .stream__description {
        font-size: 14px;
    }

    .name__profile {
        font-size: 14px;
    }

    .stream__additional-description {
        margin-top: 70px;
    }

    .wrapper__online {
        top: 86px;
        left: 0;
        right: auto;
    }
}

@media(max-width : 553px) {
    .chat__box .messeg-box {
        height: 200px;
    }

    .messeg {
        margin-bottom: 9px;
    }

}

@media(max-width : 435px){
    .stream__img{
    height: 187px;
    width: 321px;
    }

    .content__subscribe {
        display: flex;
        flex-direction: column;
    }

    .content__subscribe .booll__gray {
        display: none;
    }

    .stream__content {
        margin-left: 10px;
    }

    .content__online .time {
        font-size: 12px;
    }

}



